/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$font-family: 'Poppins', sans-serif;
$font-size: 15px;

/* colores */
$color-red: hsl(0, 78%, 62%);
$color-lightBlue: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);
$color-dark: hsl(234, 12%, 34%);
$color-gray: hsl(229, 6%, 66%);
$color-light: hsl(0, 0%, 98%);